<%= form_for(@jardin) do |f| %>
  <% if @jardin.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @jardin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Nombre del jardín<br> <%= f.text_field :nombre %></p>

  <p>Dirección<br> <%= f.text_field :direccion %></p>

  <p>Persona de contacto<br> <%= f.text_field :contacto %></p>

  <p>Teléfono<br> <%= f.phone_field :telefono %></p>

  <p>Email<br> <%= f.email_field :email %></p>

  <button type="submit" class="btn btn-success">
    <i class="icon-check"></i>  Guardar
  </button>
<% end %>
