<h1>Jardines registrados</h1>

<%= link_to 'Nuevo jardín', new_jardin_path, :class => 'btn btn-success up-right' %>

<% if !@jardins.blank? %>
<table class="table table-striped">
  <thead>
    <th>Nombre del jardín</th>
    <th>Dirección</th>
    <th>Persona de contacto</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </thead>

<% @jardins.each do |jardin| %>
  <tr>
    <td><%= jardin.nombre %></td>
    <td><%= jardin.direccion %></td>
    <td><%= jardin.contacto %></td>
    <td><%= jardin.telefono %></td>
    <td><%= jardin.email %></td>
    <td>
      <%= link_to edit_jardin_path(jardin) do %>
        <i class="icon-pencil"></i>
      <% end %>
    </td>
    <td>
      <%= link_to jardin, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
        <i class="icon-trash"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<% else %>
<p>Aún no se han ingresado jardines. 
  Haz clic en el botón <strong>nueva jardín</strong> para registrar un jardín.</p>
<% end -%>
