<h1>Jardín</h1>
<h2><%= @jardin.nombre %></h2>

<p>Contacto:<br> <%= @jardin.contacto %></p>

<p>Dirección:<br> <%= @jardin.direccion %></p>

<p>Email:<br> <%= @jardin.email %></p>

<p>Teléfono:<br> <%= @jardin.telefono %></p>

<%= link_to 'Editar', edit_jardin_path(@jardin) %>
<%= link_to 'Volver', jardins_path %>
