<%= form_for(@evaluacion) do |f| %>
  <% if @evaluacion.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @evaluacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Fecha de la visita<br> <%= f.date_select(:fechavisita, :order => [:day, :month, :year]) %></p>
  <p>Jardín<br> <%= f.select :jardin_id, @jardines %> o registra un <%= link_to "nuevo jardín", :new_jardin %>.</p>

<% if @evaluacion.id %>
  <%= link_to 'Nueva sala', new_evaluacion_sala_path(@evaluacion.id), :class => 'btn btn-success up-right' %>
  <% if @evaluacion.salas.empty? %>
  <p>Aún no has agregado ninguna sala a esta evaluación. Ingresa una sala más su escala aplicada con el botón 'Nueva sala'.</p>
  <% else %>
  <table class="table table-striped">
    <thead>
      <th>Sala</th>
      <th>Escala</th>
      <th class="headerIcono"></th>
      <th class="headerIcono"></th>
    </thead>
    <tbody>
      <% @evaluacion.salas.each do |sala| %>
      <% next if !sala.id? %>
      <tr>
        <td><%= sala.nombre %></td>
        <td><%= sala.escala.nombre %></td>
        <td class="headerIcono">
        <%= link_to edit_evaluacion_sala_path(sala.evaluacion_id, sala.id) do %>
          <i class="icon-pencil"></i>
        <% end %>
        </td>
        <td class="headerIcono">
        <%= link_to sala, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
          <i class="icon-trash"></i>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>

  <button id="evaluacion_button" type="submit" class="btn btn-success">
    <i class="icon-check"></i>  Guardar
  </button>
<% end %>