<h1>Evaluaciones</h1>

<%= link_to 'Nueva evaluación', new_evaluacion_path, :class => 'btn btn-success up-right' %>



<% if !@evaluaciones.blank? %>
<p><%= @intro %></p>
<table class="table table-striped">
  <thead>
    <th>Jardín</th>
    <th>Fecha de visita</th>
    <th class="headerIcono"></th>
    <th class="headerIcono"></th>
  </thead>
  <tbody>
<% @evaluaciones.each do |evaluacion| %>
  <tr>
    <td><%= evaluacion.jardin.nombre %></td>
    <td><%= evaluacion.fechavisita %></td>
    <td class="headerIcono">
      <%= link_to evaluacion_path(evaluacion) do %>
        <i class="icon-arrow-right"></i>
      <% end %>
    </td>
    <td class="headerIcono">
      <%= link_to edit_evaluacion_path(evaluacion) do %>
        <i class="icon-pencil"></i>
      <% end %>
    </td>
    <td class="headerIcono">
      <%= link_to evaluacion, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
        <i class="icon-trash"></i>
      <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<% else %>
<p>Aún no se han ingresado evaluaciones. 
    Haz clic en el botón <strong>nueva evaluación</strong> para agregar tu primera evaluación.</p>
<% end %>

