<h1>Evaluación Número <%= @evaluacion.id %></h1>

<div class="up-right">
  <%= link_to 'Editar', edit_evaluacion_path(@evaluacion), :class => 'btn btn-primary' %>
<% if @evaluacion.salas.empty? %>
  <%= link_to 'Generar informe', '#', :class => 'btn btn-warning', :disabled => true %>
<% else %>
  <%= link_to 'Generar informe', informe_url(@evaluacion), :class => 'btn btn-warning' %>
<% end %>
  <%= link_to 'Exportar a Excel', to_excel_url, :class => 'btn btn-warning' %>
  <a class="btn btn-inverse">Ver Estadisticas</a>
</div>

<table class="table table-striped">
	<tbody>
		<tr>
		<td><strong>Fecha de la visita:</strong></td><td><%= @evaluacion.fechavisita %></td>
		</tr>
		<tr>
		<td><strong>Salas evaluadas:</strong></td><td><%= @evaluacion.salas.length %></td>
		</tr>
		<tr>
		<td><strong>Jardín:</strong></td><td><%= @evaluacion.jardin.nombre %></td>
		</tr>
	</tbody>
</table>

<% if @evaluacion.salas.empty? %>
  <p>Esta evaluación aún no cuenta con ninguna sala ingresada.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <th>Sala</th>
      <th>Escala</th>
      <th class="headerIcono"></th>
      <th class="headerIcono"></th>
    </thead>
    <tbody>
      <% @evaluacion.salas.each do |sala| %>
      <tr>
        <td><%= sala.nombre %></td>
        <td><%= sala.escala.nombre %></td>
        <td class="headerIcono">
        <%= link_to evaluacion_sala_path(sala.evaluacion_id, sala.id) do %>
          <i class="icon-arrow-right"></i>
        <% end %>
        </td>
        <td class="headerIcono">
        <%= link_to sala, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
          <i class="icon-trash"></i>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>