<% @page_title = "UserAuth | Login" -%>
<div class= "span3">
</div>
<div class= "span6">
	<div class= "Sign_Form">
		<% if flash[:notice] %>
			<div class="notice"><%= flash[:notice] %></div>
		<% end %>

		<h1>Log In</h1>
		<%= form_tag(:action => 'login_attempt') do %>
			<p>Email:</br> <%= text_field_tag(:email) %></p>
			<p>Password:</br> <%= password_field_tag :login_password %></p>
			<button type="submit" class="btn btn-success">
			    <i class="icon-check"></i>  Log In
			</button>
		<% end %>	  
	</div>
</div>
<div class= "span3">
</div>