<h1>Cambiar Contraseña</h1>

<%= form_for(@usuario_actual) do |f| %>
  <% if @usuario_actual.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @usuario_actual.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="hidden" id="showRespuestas"><%= @usuario_actual.password %></p>

  <p>Password Actual:<br> <%= password_field_tag :current_password %></p>

  <p>Nuevo Password:<br> <%= f.password_field :password%></p>

  <p>Password Confirmation:<br> <%= f.password_field :password_confirmation%> </p>

  <button type="submit" class="btn btn-success">
    <i class="icon-check"></i>  Guardar
  </button>
<% end %>