<h2 class='User_Header'>El perfil de <%=@usuario_actual.nombre%><h2>

<%= form_for(@usuario_actual) do |f| %>
  <% if @usuario_actual.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @usuario_actual.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>Nombre:<br> <%= f.text_field :nombre%> </p>

  <p>Email:<br> <%= f.text_field :email%> </p>

  <a href="/sesion/password" class="btn btn-danger">Cambiar Contraseña</a>
  <button type="submit" class="btn btn-success">
    <i class="icon-check"></i>  Guardar
  </button>

<% end %>