<h1>Escalas Utilizadas</h1>

<% if !@escalas.blank? %>

    <div class="accordion" id="accordion1">
      <% @escalas.each  do |escala| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#escala<%= escala.id %>">
              <%= escala.nombre %>
            </a>
          </div>
          <div id="escala<%= escala.id %>" class="accordion-body collapse">
            <div class="accordion-inner">

              <div class="accordion" id="escala<%= escala.id %>accordion2">
                <% @subescalas.each  do |subescala| %>
                    <% if subescala.escala_id == escala.id %>

                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#escala<%= escala.id %>accordion2" href="#subescala<%= subescala.id %>">
                            <%= subescala.nombre %>
                          </a>
                        </div>

                        <div id="subescala<%= subescala.id %>" class="accordion-body collapse">
                          <div class="accordion-inner">
                            <% @items.each  do |item| %>
                                <% if item.subescala_id == subescala.id %>
                                    
                                    <div class="accordion-group">
                                      <div class="accordion-heading">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#subescala<%= subescala.id %>accordion2" href="#item<%= item.id %>">
                                          <%= item.nombre %>
                                        </a>
                                      </div>

                                      <div id="item<%= item.id %>" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                          <% @indicadores.each  do |indicador| %>
                                              <% if indicador.item_id == item.id %>
                                                  <%= indicador.numero %> <%= indicador.texto %> <br />
                                              <% end %>
                                          <% end %>
                                        </div>
                                      </div>
                                    </div>

                                <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>

                    <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

<% else %>
    <p>Error al mostrar Escalas</p>
<%  end -%>
