<%= form_for(@usuario) do |f| %>
    <% if @usuario.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @usuario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>Nombre:<br> <%= f.text_field :nombre%> </p>

    <p>Email:<br> <%= f.text_field :email%> </p>

    <% if !@usuario.id? %>
        <p>Password:<br> <%= f.password_field :password%></p>

        <p>Password Confirmation:<br> <%= f.password_field :password_confirmation%> </p>
    <% end %>

    <p>Rol:<br> <%= f.select :permisos, [['Investigador', 0b01], ['Evaluador', 0b10], ['Coordinadora', 0b11]] %></p>

    <button type="submit" class="btn btn-success">
      <i class="icon-check"></i>  Guardar
    </button>
<% end %>