<h1>Usuarios</h1>

<%= link_to 'Nuevo usuario', new_usuario_path, :class => 'btn btn-success up-right' %>

<% if !@usuarios.blank? %>
    <table class="table table-striped">
      <thead>
        <th>Nombre del usuario</th>
        <th>Email</th>
        <th>Cargo</th>
        <th class="headerIcono"></th>
        <th class="headerIcono"></th>
      </thead>

      <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= link_to usuario.nombre, usuario %></td>
            <td><%= usuario.email %></td>
            <% if usuario.permisos.to_i == 1 %>
                <td> Investigador </td>
            <% elsif usuario.permisos.to_i == 2 %>
                <td> Evaluadora </td>
            <% else %>
                <td> Coordinadora </td>
            <% end %>
            <td class="headerIcono">
              <%= link_to edit_usuario_path(usuario) do %>
                  <i class="icon-pencil"></i>
              <% end %>
            </td>
            <td class="headerIcono">
              <%= link_to usuario, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
                  <i class="icon-trash"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>Error al cargar usuarios</p>
<% end -%>
