<h1>Usuario</h1>
<h2><%= @usuario.nombre %></h2>

<p>Email:<br> <%= @usuario.email %></p>

<p>Cargo:<br>
  <% if @usuario.permisos.to_i == 1 %>
      <%= 'Investigador' %></p>
  <% elsif @usuario.permisos.to_i == 2 %>
      <%= 'Evaluadora' %></p>
  <% else %>
          <%= 'Coordinadora' %></p>
  <% end %>

  <% if @usuario_actual.permisos.to_i == 3 %>
      <%= link_to 'Editar', edit_usuario_path(@usuario) %>
      <%= link_to 'Volver', usuarios_path %>
  <% end %>