/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  top: 40px;
  padding-bottom: 40px;
}

#logo {
  height: 40px;
  width: 100px;
  background-image: url('logo-educauc.png');
  background-size: 100px 40px;
}

.Sign_Form {
  background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 10px;
  padding-left: 30px
}

.up-right {
  float: right;
  margin-top: -40px;
}

a.btn:visited {
  color: white;
}

body a:hover {
  background-color: white;
  color: black;
}

.accordion a:hover {
  background-color: rgb(165, 165, 165);
}

.headerIcono {
  width: 20px;
}

.flashNotice {
  background-color: #65A6D1;
  color: #03426A;
  text-align: center;
  padding: 10px;
}