<%= form_for(@sala) do |f| %>
  <% if @sala.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @sala.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>Nombre de la sala<br> <%= f.text_field :nombre %></p>
  <% if !@sala.id? %>
    <%= f.hidden_field :evaluacion_id, :value => params[:evaluacion_id] %>
    <p>Escala aplicada<br> <%= f.select :escala_id, @escalas %></p>
  <% else %>
    <h5> Respuestas </h5>
    <div class="accordion" id="accordion1">
      <% @sala.escala.subescalas.each do |subescala| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" href="#subescala<%= subescala.id %>">
              <%= subescala.nombre %>
            </a>
          </div>
          <div id="subescala<%= subescala.id %>" class="accordion-body collapse">
            <div class="accordion-inner">
              <% subescala.items.each  do |item| %>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#subescala<%= subescala.id %>accordion2" href="#item<%= item.id %>">
                      <%= item.nombre %>
                    </a>
                  </div>
                  <div id="item<%= item.id %>" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-condensed">
                        <thead>
                          <th></th>
                          <th>S</th>
                          <th>N</th>
                          <th>NA</th>
                          <th>Info</th>
                        </thead>
                        <tbody>
                          <% item.indicadors.each  do |indicador| %>
                          <tr>
                            <td><%= indicador.numero %></td>
                            <td><input type="radio" name="<%= item.id.to_s() + '-' + indicador.numero.to_s() %>" value="s"></td>
                            <td><input type="radio" name="<%= item.id.to_s() + '-' + indicador.numero.to_s() %>" value="n"></td>
                            <td>
                            <% if !indicador.absoluto %>
                              <input type="radio" name="<%= item.id.to_s() + '-' + indicador.numero.to_s() %>" value="na">
                            <% end %>
                            </td>
                            <td><%= indicador.texto %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                      <p>Comentarios<br> <%= text_area_tag("comentario_#{item.id}") %></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= f.hidden_field :respuestas %>
  <%= f.hidden_field :comentarios %>
  <button type="submit" class="btn btn-success">
    <i class="icon-check"></i>  Guardar
  </button>

<% end %>
