<h1><%= @sala.nombre %></h1>

<div class="up-right">
  <%= link_to @sala.evaluacion, :class => 'btn btn-success' do %>
    <i class="icon-white icon-arrow-left"></i>Vuelve a la evaluación
  <% end %>
  <%= link_to 'Editar la sala', edit_sala_path(@sala), :class => 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <tbody>
    <tr>
    <td><strong>Jardín:</strong></td>
    <td><%= @sala.evaluacion.jardin.nombre %></td>
    </tr>
    <tr>
    <td><strong>Escala utilizada:</strong></td>
    <td><%= @sala.escala.nombre %></td>
    </tr>
  </tbody>
</table>

<p class="hidden" id="showRespuestas"><%= @sala.respuestas %></p>
<p class="hidden" id="showComentarios"><%= @sala.comentarios %></p>

<h5> Respuestas </h5>
<div class="accordion" id="accordion1">
  <% @sala.escala.subescalas.each do |subescala| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" href="#<%= subescala.nombre.delete(' ') %><%= subescala.id %>">
          <%= subescala.nombre %>
        </a>
      </div>
      <div id="<%= subescala.nombre.delete(' ') %><%= subescala.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <% subescala.items.each  do |item| %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#<%= subescala.nombre.delete(' ') %><%= subescala.id %>accordion2" href="#<%= item.nombre.delete(' ') %><%= item.id %>">
                  <%= item.nombre %>
                </a>
              </div>
              <div id="<%= item.nombre.delete(' ') %><%= item.id %>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <th></th>
                      <th>S</th>
                      <th>N</th>
                      <th>NA</th>
                      <th>Info</th>
                    </thead>
                    <tbody>
                      <% item.indicadors.each do |indicador| %>
                      <tr>
                        <td><%= indicador.numero %></td>
                        <td><i class="" name="<%= item.id.to_s() + '-' + indicador.numero.to_s() %>" value="s"></i></td>
                        <td><i class="" name="<%= item.id.to_s() + '-' + indicador.numero.to_s() %>" value="s"></i></td>
                        <td><i class="" name="<%= item.id.to_s() + '-' + indicador.numero.to_s() %>" value="s"></i></td>
                        <td><%= indicador.texto %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <p><b>Comentarios:</b></p>
                  <p id=<%= "comentario_#{item.id}" %> ></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

