<!DOCTYPE html>
<html>
<head>
  <title>Educaucinicial</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav full-width">
            <li id="logo">
            </li>
        <% if @usuario_actual %>
            <li>
              <a href="#">Estadisticas</a>
            </li>
          <% if check_privileges [0b10, 0b11] %>
            <li>
              <%= link_to 'Evaluaciones', :evaluacions %>
            </li>
            <li>
              <%= link_to 'Jardines', :jardins %>
            </li>
            <li>
              <%= link_to 'Escalas', :escalas %>
            </li>
          <% end %>
          <% if check_privileges [0b11] %>
            <li>
              <%= link_to 'Usuarios', :usuarios %>
            </li>
          <% end %>
            <li class="nav-right">
              <%= link_to "Log out", logout_path %>
            </li>
            <li class="nav-right">
              <a href="/sesion/profile"><%=@usuario_actual.nombre%></a>
            </li>
        <% else %>
            <li class="nav-right">
              <%= link_to "Log In", login_path %>
            </li>
        <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container content">
    <div class="row">
      <% if flash[:notice] %>
        <p class="flashNotice"><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
